@import 'materialize/materialize';
@import 'navbar';
@import 'footer';

body {
  background-color: #d2e1dd;
  color: $primary-color;
  padding: 0vh 1rem;
  text-align: center;
}

a {
  color: $primary-color;
  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}
