.navbar-fixed
  %nav
    %ul.right.hide-on-med-and-down
      %li
        %a{href:"#Projects"} Coding projects
      %li
        %a{href:"#Works"} Work experience
      %li
        %a{href:"#Education"} Education
