%ul#slide-out.side-nav
  %li
    .user-view
      .background
        %a{ href: "#!user"}
          %img.circle{ src: "images/eg.jpg"}
        %a{ href: "#!name"}
          %span.black-text.name Ólöf Vignisdóttir
        %a{ href: "#!email"}
          %span.black-text.email olofvi89@gmail.com
  %li
    %a.waves-effect{ href: "#Projects" } Coding projects
  %li
    %a.waves-effect{ href: "#Works" } Work experience
  %li
    %a.waves-effect{ href: "#Education" } Education
%a.button-collapse{"data-activates": "slide-out",  href: "#"}
  %i.material-icons menu
